html {
  min-width: 320px;
  font-size: 14px;
}

body {
  background-color: #1e2224;
  margin: 0;
  padding: 0;
  font-family: raleway, sans-serif;
  padding-bottom: 400px;
}

.nav-wrapper {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 23px;
}

.active-grid {
  display: grid !important;
}

.active-flex {
  display: flex !important;
}

.active-underline {
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
}

a {
  display: block;
  text-decoration: none;
}

.orange {
  color: #feb21d;
}

.title {
  margin: 0 auto 70px 0;
  font-size: 3em;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: 900;
  text-align: center;
}

.subtitle {
  margin-bottom: 80px;
  font-size: 1.7em;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: raleway, sans-serif;
  text-align: center;
}

.title-under {
  font-size: 1.3em;
  max-width: 80%;
  color: #cecece;
  font-family: open-sans, sans-serif;
  font-style: italic;
  font-weight: 400;
  margin: 0 auto 100px auto;
  padding: 0 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 15px;
  align-items: stretch;
  justify-content: center;
}
.grid-item {
  margin: 0 auto;
  max-width: 100%;
  border: 2px solid gray;
  box-sizing: border-box;
  border-radius: 12px;
}

.header {
  position: relative;
  padding: 200px 0;
  background: url("images/header-photo.jpg ");
  background-size: cover;
  color: #c2baa3;
}
.header__container {
  text-align: center;
  position: relative;
}
.header__cover {
  position: absolute;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.1530987395) 0%, rgba(0, 0, 0, 0.6993172269) 25%, rgba(0, 0, 0, 0.6993172269) 75%, rgba(0, 0, 0, 0.1530987395) 100%);
  top: 33%;
  bottom: 32%;
  left: 0;
  right: 0;
}
.header__title {
  font-weight: 900;
  letter-spacing: 7px;
  font-size: 4em;
}
.header__subtitle {
  font-weight: 700;
  line-height: 33px;
  font-size: 1.7em;
}

.nav {
  position: sticky;
  font-size: 1.3em;
  top: 0px;
  z-index: 1;
  margin-bottom: 10px;
  background: #151618;
  text-align: center;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.nav__container-left {
  display: flex;
  justify-content: space-between;
  transition: 1s;
}
.nav__logo img {
  display: block;
  margin: 0 auto;
}
.nav__list {
  display: flex;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__list li a:hover {
  color: #3098bb;
}
.nav__link {
  padding: 15px;
  text-decoration: none;
  font-weight: 700;
  color: #dbdbd3;
  white-space: nowrap;
  transition: 0.3s;
}
.nav__btn-open, .nav__btn-close {
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 25px;
}

.tel-number a {
  text-align: right;
  font-family: open-sans, sans-serif;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 200px;
  color: #cecece;
}

.about {
  text-align: center;
  color: #cecece;
  margin-bottom: 200px;
}
.about__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: start;
}
.about__item {
  display: flex;
  align-items: flex-start;
}
.about__item-left div {
  margin-right: 20px;
  text-align: right;
}
.about__item-right div {
  margin-left: 20px;
  text-align: left;
}
.about__item-header {
  font-size: 1.5em;
  color: #ffffff;
  font-family: raleway, sans-serif;
  font-weight: 700;
}
.about__item-text {
  font-size: 1.5em;
  color: #8e8e8e;
  font-family: open-sans, sans-serif;
  font-weight: 400;
}
.about__item img {
  border-radius: 7px;
}

.gallery-photos {
  margin-bottom: 150px;
}
.gallery-photos__grid {
  display: none;
}
.gallery-photos__btns {
  display: flex;
  justify-content: center;
  margin: 0 auto 50px auto;
}
.gallery-photos__btn {
  color: #ffffff;
  cursor: pointer;
  user-select: none;
  padding: 20px 30px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: right;
}
.gallery-finish .grid, .gallery-old .grid {
  margin-bottom: 20px;
}

@media only all and (max-width: 1180px) {
  .nav__container {
    flex-direction: column;
  }
}
@media only all and (max-width: 942px) {
  .nav__list {
    display: none;
    flex-direction: column;
  }

  .nav__btn-open {
    display: flex;
  }

  .nav__container {
    display: block;
  }

  .about__picture {
    display: none;
  }
}
@media (max-width: 790px) {
  html {
    font-size: 11px;
  }

  .about {
    margin-bottom: 100px;
  }

  .title {
    margin: 0 auto 20px 0;
  }

  .subtitle {
    margin-bottom: 50px;
  }

  .title-under {
    margin: 0 auto 100px auto;
  }

  .tel-number a {
    margin-bottom: 100px;
  }

  .about__grid {
    grid-template-columns: 1fr;
  }

  .about__item {
    padding: 30px;
    border-radius: 20px;
  }

  .about__item-right {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1895133053) 30%, rgba(0, 0, 0, 0.1923144258) 70%, rgba(0, 0, 0, 0) 100%);
  }
}
@media only all and (max-width: 425px) {
  .header__cover {
    top: 30%;
    bottom: 29%;
  }

  .nav__logo {
    display: none;
  }

  .nav__container-left {
    justify-content: center;
  }

  .nav__list {
    flex-direction: column;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-photos__btns {
    flex-direction: column;
  }

  .active-underline {
    border: none;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
  }
}
@media (max-width: 350px) {
  .about__item {
    padding: 10px;
  }
}
@media only all and (min-width: 942px) {
  .nav__btn-open,
.nav__btn-close {
    display: none !important;
  }
}