html {
    min-width: 320px;
    font-size: 14px;
}

body {
    background-color: #1e2224;
    margin: 0;
    padding: 0;
    font-family: raleway, sans-serif;
    height: 3000px;

}

.nav-wrapper {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 23px;
}

a {
    display: block;
    text-decoration: none;
}

.active-flex {
    display: flex !important;
}

.orange {
    color: #FEB21D;
}

.title {
    margin: 0 auto 70px 0;
    font-size: 3em;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 48px;
    font-weight: 900;
}

.subtitle {
    font-size: 1.8em;
    color: #CECECE;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    margin: 0 auto 100px 0;
}

img {
    display: block;
    margin: 0 auto;
}

.header {
    position: relative;
    padding: 200px 0;
    background: url('images/header-photo.jpg ');
    background-size: cover;
    color: #C2BAA3;

    &__container {
        text-align: center;
        position: relative;
    }

    &__cover {
        position: absolute;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.15309873949579833) 0%, rgba(0, 0, 0, 0.6993172268907564) 25%, rgba(0, 0, 0, 0.6993172268907564) 75%, rgba(0, 0, 0, 0.15309873949579833) 100%);
        top: 33%;
        bottom: 32%;
        left: 0;
        right: 0;
    }

    &__title {
        font-weight: 900;
        letter-spacing: 7px;
        font-size: 4em;

    }

    &__subtitle {
        font-weight: 700;
        line-height: 33px;
        font-size: 1.7em;
    }
}


.nav {
    position: sticky;
    font-size: 1.3em;
    top: 0px;
    z-index: 1;
    margin-bottom: 10px;
    background-color: #151618;
    text-align: center;

    &__container {
        display: flex;

        justify-content: space-between;
        margin: 0 auto;
        align-items: center;

        &-left {
            display: flex;
            justify-content: space-between;
        }
    }

    &__logo img {
        display: block;
        margin: 0 auto;

    }



    &__list {
        display: flex;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;

        li a:hover {
            color: #3098bb;
        }
    }

    &__link {
        padding: 15px;
        text-decoration: none;
        font-weight: 700;
        color: #dbdbd3;
        white-space: nowrap;
        transition: 0.3s;

    }

    &__btn-close {
        background-color: #5f615b;
    }

    &__btn-open,
    &__btn-close {
        display: none;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        padding: 25px;
    }

}

.tel-number {
    a {
        text-align: right;
        font-family: open-sans, sans-serif;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 200px;
        color: #CECECE;
    }
}

.about {
    text-align: center;
    color: #CECECE;


    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        align-items: start;

    }

    &__item {
        display: flex;
        align-items: flex-start;

        &-left div {
            margin-right: 20px;
            text-align: right;
        }

        &-right div {
            margin-left: 20px;
            text-align: left;
        }

        &-header {
            font-size: 1.5em;
            color: #FFFFFF;
            font-family: raleway, sans-serif;
            font-weight: 700;
        }

        &-text {
            font-size: 1.5em;
            color: #8E8E8E;
            font-family: open-sans, sans-serif;
            font-weight: 400;
        }

        img {
            border-radius: 7px;
        }
    }

}


//------------------- MEDIA

//---------- MAX


@media only all and (max-width: 1180px) {
    .nav__container {
        flex-direction: column;
    }
}


@media only all and (max-width: 942px) {
    .nav__list {
        display: none;
        flex-direction: column;
    }


    .nav__btn-open {
        display: flex;
    }

    .nav__container {
        display: block
    }

    .about__picture {
        display: none;
    }
}

@media (max-width: 790px) {
    html {
        font-size: 11px;
    }

    .title {
        margin: 0 auto 20px 0;
    }

    .subtitle {
        margin: 0 auto 100px 0;
    }

    .tel-number a {
        margin-bottom: 100px;
    }

    .about__grid {
        grid-template-columns: 1fr;
    }

    .about__item {
        padding: 30px;
        border-radius: 20px;
    }

    .about__item-right {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18951330532212884) 30%, rgba(0, 0, 0, 0.1923144257703081) 70%, rgba(0, 0, 0, 0) 100%);
    }



}


@media only all and (max-width: 425px) {
    .header__cover {
        top: 30%;
        bottom: 29%;
    }


    .nav__container-left {
        flex-direction: column;
        justify-content: center;
    }

    .nav__list {
        flex-direction: column;
    }
}


@media (max-width: 350px) {


    .about__item {
        padding: 10px;
    }
}



//---------- MIN


@media only all and (min-width: 942px) {

    .nav__btn-open,
    .nav__btn-close {
        display: none !important;
    }
}