html {
    min-width: 320px;
    font-size: 14px;
}

body {
    background-color: #1e2224;
    margin: 0;
    padding: 0;
    font-family: raleway, sans-serif;
    padding-bottom: 400px;
}

.nav-wrapper {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 23px;
}

.active-grid {
    display: grid !important;
}

.active-flex {
    display: flex !important;
}

.active-underline {
    border-bottom: 3px solid #fff;
    border-top: 3px solid #fff;
}

a {
    display: block;
    text-decoration: none;
}

.orange {
    color: #feb21d;
}

.lightblue {
    color: #0BA4D6;
}

.title {
    margin: 0 auto 70px 0;
    font-size: 3em;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 900;
    text-align: center;
}

.subtitle {
    margin-bottom: 80px;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: raleway, sans-serif;
    text-align: center;
}

.title-under {
    font-size: 1.3em;
    max-width: 80%;
    color: #cecece;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    margin: 0 auto 100px auto;
    padding: 0 20px;
    line-height: 19px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 15px;
    align-items: stretch;
    justify-content: center;

    &-item {
        margin: 0 auto;
        max-width: 100%;
        border: 2px solid gray;
        box-sizing: border-box;
        border-radius: 12px;
    }
}

.item-header {
    margin: 0 auto 10px auto;
    font-size: 1.5em;
    color: #ffffff;
    font-family: raleway, sans-serif;
    font-weight: 700;
}

.item-text {
    margin: 0;
    font-size: 1.2em;
    color: #8e8e8e;
    font-family: open-sans, sans-serif;
    font-weight: 400;
}

.header {
    position: relative;
    padding: 200px 0;
    background: url("images/header-photo.jpg ");
    background-size: cover;
    color: #c2baa3;

    &__container {
        text-align: center;
        position: relative;
    }

    &__cover {
        position: absolute;
        background: linear-gradient(90deg,
                rgba(0, 0, 0, 0.15309873949579833) 0%,
                rgba(0, 0, 0, 0.6993172268907564) 25%,
                rgba(0, 0, 0, 0.6993172268907564) 75%,
                rgba(0, 0, 0, 0.15309873949579833) 100%);
        top: 33%;
        bottom: 32%;
        left: 0;
        right: 0;
    }

    &__title {
        font-weight: 900;
        letter-spacing: 7px;
        font-size: 4em;
    }

    &__subtitle {
        font-weight: 700;
        line-height: 33px;
        font-size: 1.7em;
    }
}

.nav {
    position: sticky;
    font-size: 1.3em;
    top: 0px;
    z-index: 1;
    margin-bottom: 10px;
    background: #151618;
    text-align: center;

    &__container {
        display: flex;

        justify-content: space-between;
        margin: 0 auto;
        align-items: center;

        &-left {
            display: flex;
            justify-content: space-between;
            transition: 1s;
        }
    }

    &__logo img {
        display: block;
        margin: 0 auto;
    }

    &__list {
        display: flex;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;

        li a:hover {
            color: #3098bb;
        }
    }

    &__link {
        padding: 15px;
        text-decoration: none;
        font-weight: 700;
        color: #dbdbd3;
        white-space: nowrap;
        transition: 0.3s;
    }

    &__btn-open,
    &__btn-close {
        display: none;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        padding: 25px;
    }
}

.tel-number {
    a {
        text-align: right;
        font-family: open-sans, sans-serif;
        font-weight: 600;
        line-height: 22px;
        margin-bottom: 200px;
        color: #cecece;
    }
}

.about {
    text-align: center;
    color: #cecece;
    margin-bottom: 200px;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
        align-items: start;
    }

    &__item {
        display: flex;
        align-items: flex-start;

        &-left div {
            margin-right: 20px;
            text-align: right;
        }

        &-right div {
            margin-left: 20px;
            text-align: left;
        }

        img {
            border-radius: 7px;
        }
    }
}

.gallery {
    &-photos {
        margin-bottom: 150px;

        &__grid {
            display: none;
        }

        &__btns {
            display: flex;
            justify-content: center;
            margin: 0 auto 50px auto;
        }

        &__btn {
            color: #ffffff;
            cursor: pointer;
            user-select: none;
            padding: 20px 30px;
            font-weight: 600;
            letter-spacing: 1px;
            text-align: right;
        }
    }

    &-finish,
    &-old {
        .grid {
            margin-bottom: 20px;
        }
    }
}

.services {
    padding: 40px 0 40px 0;
    background: url('images/services/background.jpg');
    background-size: cover;

    .title-under {
        margin-bottom: 80px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 30px 0;
        grid-column-gap: 10px;
        grid-row-gap: 40px;
        text-align: center;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18951330532212884) 30%, rgba(0, 0, 0, 0.1923144257703081) 70%, rgba(0, 0, 0, 0) 100%);
        margin-bottom: 100px;
    }
}

.prices {
    padding: 40px 0 40px 0;
    background: url('images/prices/background.jpg');
    background-size: cover;

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;

        .item {
            background-color: #1e2224;
            padding: 20px;
            border-radius: 8px;

            &__container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-leftside {
                    hr {
                        border: 1px solid #8e8e8e;
                    }
                }

                &-rightside {
                    margin-left: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    img {
                        max-width: 100px;
                        margin-bottom: 15px;
                    }

                    .bottom {
                        p {
                            margin: 0;
                            font-size: 1.5em;
                            white-space: nowrap;
                            text-align: center;
                            color: #FFFFFF;
                            font-weight: 700;
                        }
                    }

                }
            }
        }
    }
}

.contacts {
    form {
        max-width: 570px;
        margin: 0 auto;
        color: white;

        input {
            width: 100%;
            box-sizing: border-box;
            text-align: center;

        }

        textarea {
            box-sizing: border-box;
            width: 100%;
        }

    }
}

//------------------- MEDIA

//---------- MAX

@media only all and (max-width: 1180px) {
    .nav__container {
        flex-direction: column;
    }
}

@media only all and (max-width: 942px) {
    .nav__list {
        display: none;
        flex-direction: column;
    }

    .nav__btn-open {
        display: flex;
    }

    .nav__container {
        display: block;
    }

    .about__picture {
        display: none;
    }

    .prices__grid {
        grid-template-columns: 70%;
        justify-content: center;
    }
}

@media (max-width: 790px) {
    html {
        font-size: 11px;
    }

    .about {
        margin-bottom: 100px;
    }

    .title {
        margin: 0 auto 20px 0;
    }

    .subtitle {
        margin-bottom: 50px;
    }

    .title-under {
        margin: 0 auto 100px auto;
    }

    .tel-number a {
        margin-bottom: 100px;
    }

    .about__grid {
        grid-template-columns: 1fr;
    }

    .about__item {
        padding: 30px;
        border-radius: 20px;
    }

    .about__item-right {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18951330532212884) 30%, rgba(0, 0, 0, 0.1923144257703081) 70%, rgba(0, 0, 0, 0) 100%);
    }
}

@media (max-width: 790px) {
    .services {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 657px) {
    .prices__grid {
        grid-template-columns: 1fr;
    }
}

@media only all and (max-width: 425px) {
    .header__cover {
        top: 30%;
        bottom: 29%;
    }

    .nav__logo {
        display: none;
    }

    .nav__container-left {
        justify-content: center;
    }

    .nav__list {
        flex-direction: column;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .gallery-photos__btns {
        flex-direction: column;
    }

    .active-underline {
        border: none;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
    }

    .item__container {
        &-leftside {
            margin-bottom: 10px;
        }

        &-rightside {

            img {
                display: none;
            }
        }
    }


    .item__container {
        flex-direction: column;
    }
}

@media (max-width: 350px) {
    .about__item {
        padding: 10px;
    }
}

//---------- MIN

@media only all and (min-width: 942px) {

    .nav__btn-open,
    .nav__btn-close {
        display: none !important;
    }
}